<p-card header="login">
    <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
            <i class="pi pi-user"></i>
        </span>
        <input pInputText placeholder="Username" [(ngModel)]="authentication.email" name="username" />
    </div>

    <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
        <input type="password" [(ngModel)]="authentication.password" name="password" pInputText
            placeholder="Password" />
    </div>
    <br>
    <div>
        <button pButton pRipple label="Submit" (click)="login()" class="p-button-success"></button>
    </div>
</p-card>