<br>

<p-button label="Crear producto" 
(onClick)="redirectToCreate()"></p-button>

<br>
<p-card>
  <p-table [value]="products">
    <ng-template pTemplate="header">
      <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Stock</th>
        <th>Valor</th>
        <th>Estado</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.id_producto }}</td>
        <td>{{ product.descripcion }}</td>
        <td>{{ product.stock.cantidad }}</td>
        <td>{{ product.valor | currency : "EUR" }}</td>
        <td>{{ product.id_estado }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
